#!/usr/bin/make -f
#
# Copyright(c) 2020-2022 Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause
#

# output every command that modifies files on the build system
#export DH_VERBOSE = 1

%:
	dh $@ --with dkms

override_dh_auto_configure :

override_dh_auto_build :
	(cd tools/; ./cas_version_gen build)
	make -C casadm

override_dh_auto_install :
	(cd casadm; make install_files DESTDIR="$(shell pwd)/debian/tmp")
	(cd utils; make install_files DESTDIR="$(shell pwd)/debian/tmp")
	# clean and generate version again before installing sources for DKMS
	make distclean
	(cd tools/; ./cas_version_gen)

override_dh_dkms :
	dh_dkms -V $(DEB_VERSION_UPSTREAM)

override_dh_installsystemd :
	dh_installsystemd --no-start

override_dh_missing :

override_dh_gencontrol :
	dh_gencontrol -- -Vkver="$(shell uname -r)"
