.*
!\.gitignore
*.bak
*.log
*.o
*.so
*.ko
*.ko.*
*.obj
*.a
tags
Module.symvers
Module.markers
*.mod
*.mod.c
*.out
modules.order
__pycache__/
*.py[cod]
*$py.class
*.gz

casadm/casadm
modules/include/ocf
modules/generated_defines.h
