#
# Copyright(c) 2019-2021 Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause
#

[Unit]
Description=opencas initialization service
After=systemd-remount-fs.service
Before=local-fs-pre.target local-fs.target
Wants=local-fs-pre.target local-fs.target
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/casctl settle --timeout 1780 --interval 5
TimeoutStartSec=30min

[Install]
RequiredBy=local-fs.target local-fs-pre.target
