#
# Copyright(c) 2019-2022 Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause
#

[Unit]
Description=Open Cache Acceleration Software Shutdown Trigger
After=umount.target
Before=final.target
JobTimeoutSec=604800
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/sbin/casctl stop
TimeoutStopSec=604800

[Install]
WantedBy=final.target
